@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

body {
    background: black;
    color: lightgreen;
    font-family: "Special Elite";
}

#chiptune {
    visibility: hidden;
}

#user-input {
    width: 70px;
    height: 50px;
    font-family: "Special Elite";
    font-size: 35px;
}

button {
    width: auto;
    text-align: auto;
    height: 40px;
    border-radius: 15%;
    background-color: gold;
    background-image: linear-gradient(gold, rgb(193, 143, 19));
    font-size: 15px;
    padding: 15px 25px;
    font-family: "Special Elite";
    transition: all .5s ease;
}

button:hover {
    background: yellow;
    transition: all .5s ease;
    transform: scale(1.1);
}

.header {
    text-align: center;
    grid-row: 1;
    grid-column: 1 / 4;
}

.bill {
    width: 300px;
}

.character {
    width: 150px;
}

.gameplay-text {
    font-size: 40px;
    text-align: center;
}

.bill-collector {
    display: flex;
    justify-content: center;
    grid-row: 2;
    grid-column: 3;
}

.center-text {
    grid-row: 2;
    grid-column: 2;
}

.gameplay-text {
    grid-row: 2;
    grid-column: 2;
}

.character_pane {
    display: flex;
    justify-content: center;
    grid-row: 2;
    grid-column: 1;
}

.reset-button {
    display: flex;
    justify-content: center;
}

.game-buttons {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.energy {
    display: flex;
    justify-content: column;
    width: 50px;
    border-radius: 50%;
    padding: 20px;
}

#energy1 {
    visibility: hidden;
}

#energy2 {
    visibility: hidden;
}

#energy3 {
    visibility: hidden;
}

#energy4 {
    visibility: hidden;
}

#energy5 {
    visibility: hidden;
}

#energy6 {
    visibility: hidden;
}

.dialog {
    text-align: center;
    font-size: 20px;
}

.finish-text {
    font-size: 70px;
    text-align: center;
}

.correct-text {
    font-size: 30px;
    text-align: center;
}

#submit-box {
    text-align: center;
}

#form {
    text-align: center;
}

.bill-talk {
    color: yellow
}

.dipper-talk {
    color: skyblue
}

#page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page2 {
    display: none;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
}

#page3 {
    display: none;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
}

#page4 {
    display: none;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
}

#page5 {
    display: none;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
}

#you-win {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#you-lose {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bill-lose {
    width: 500px;
}

.bill-greeting {
    text-align: center;
}

#do_you_want_to_play {
    text-align: center;
}

.bill-greet {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
}
